/* commons */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
/* /commons */

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
}

/* main */
main{
  height: calc(100% - 90px);
  display: flex;
}

/* left content */
#playlist{
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

/* logo >>> playlist */
.playlist_top .logo img{
  width: 130px;
  margin: 20px 20px;
}

.playlist_top .home{
  border-left: 2px solid #adff2f;
}

.playlist_top .home img{
  height: 25px;
  vertical-align: middle;
  margin: 0 5px 10px 20px;
}

.playlist_top .home a{
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.playlist_top .search img,
.playlist_top .library img{
  height: 25px;
  vertical-align: middle;
  margin: 0 5px 10px 22px;
  color: #484848;
}

.playlist_top .search a,
.playlist_top .library a{
  color: #484848;
  font-size: 13px;
  font-weight: bold;
}

.playlist_top .add_playlist h4{
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  margin: 20px 0 10px 22px;
}

/* plus box */
.playlist_top .add_playlist .new_playlist{
  display: flex;
  align-items: center;
}

.add_playlist .new_playlist .add_box{
  width: 40px;
  height: 40px;
  margin-left: 22px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3a3a3;
}

.new_playlist .add_box i{
  font-size: 20px;
}

.add_playlist .new_playlist span a{
  color: #484848;
  font-size: 13px;
  font-weight: bold;
}
/* /plus box */
/* /logo >>> playlist */

/* list */
#playlist .playlist_item{
  min-height: 180px;
  flex-grow: 1;
  overflow: auto;
  margin-top: 20px;
}

.playlist_item li{
  margin-left: 22px;
  margin-top: 10px;
}

.playlist_item li a{
  color: #484848;
  font-size: 13px;
  font-weight: bold;
}
/* /list */

/* bottom left */
#playlist .account .app{
  margin: 0 22px;
  padding-bottom: 10px;
  border-bottom: 2px solid #484848;
}

#playlist .account .app i{
  margin-right: 10px;
  color: #484848;
  font-size: 13px;
}

#playlist .account .app a{
  color: #484848;
  font-size: 13px;
  font-weight: bold;
}

#playlist .account .user{
  margin: 10px 0 10px 22px;
}

#playlist .account .user a{
  color: white;
  background-color: #484848;
  border-radius: 50%;
  font-size: 25px;
  vertical-align: middle;
}

#playlist .account .user span{
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-left: 5px;
}
/* /bottom left */

@media screen and (max-width: 578px) {
  main #playlist{
    width: 60px;
  }

  #playlist a{
    display: none;
  }

  .playlist_top .logo img{
    margin-left: 15px;
  }

  .playlist_top .home{
    border: none;
  }

  #playlist .add_playlist{
    display: none;
  }

  #playlist .account .user{
    margin-left: 18px;
  }

  #playlist .account .user a{
    display: block;
    width: 60%;
    border-radius: 40%;
  }

  #playlist .account .app{
    border: none;
  }

  #playlist .account .user span{
    display: none;
  }

  main #main_content{
    width: calc(100% - 60px);
  }

  main #main_content .call_to_action{
    width: calc(100% - 60px);
  }
}
/* /left content */

/* central content */
#main_content{
  width: calc(100% - 230px);
  height: 100%;
  padding: 120px 20px 40px;
  background-color: #141922;
  overflow: auto;
}

#main_content .call_to_action{
  width: calc(100% - 230px);
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

/* button */
.call_to_action a{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 2%;
  padding: 10px 40px;
  font-size: 13px;
  font-weight: bold;
}
/* /button */

/* main top list */
#main_content .main_top{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#main_content .main_top a{
  color: #7b7e82;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

#main_content .main_top [class*="top_"]{
  margin-left: 20px;
  margin-bottom: 20px;
}

.main_top .top_play .border{
  width: 40%;
  border-bottom: 2px solid #adff2f;
  margin-left: 30%
}
/* /main top list */

/* first row */
#main_content h2{
  color: white;
  margin-top: 30px;
}

#main_content h4{
  color: #585b61;
  font-size: 13px;
  margin-top: 5px;
}

#main_content .box_img_container{
  display: flex;
}

#main_content .box_img_top{
  width: calc(100% / 6);
  margin-top: 30px;
  margin-right: 10px;
}

/* layover */
#main_content .img_container{
  width: 100%;
  position: relative;
}

.box_img_container .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.box_img_container .overlay i{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  color: white;
}

.box_img_container:hover .overlay{
  opacity: 1;
  transition: 0.5s;
}

.box_img_container:hover .overlay i{
  display: block;
}
/* /layover */

#main_content .box_img_top img{
  width: 100%;
}

#main_content .box_img_top h3{
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

#main_content .box_img_top h4{
  color: #585b61;
  margin-top: 5px;
  font-size: 13px;
  text-align: center;
}
/* /first row */

/* third row */
#main_content .box_img_round{
  width: calc(100% / 6);
  margin-top: 30px;
  margin-right: 10px;
}

#main_content .box_img_round img{
  width: 100%;
  border-radius: 50%;
}

#main_content .box_img_round h3{
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
/* third row */
@media screen and (max-width: 992px) {
  #main_content .box_img_container{
    flex-wrap: wrap;
  }

  #main_content .box_img_top,
  #main_content .box_img_round{
    width: calc(100% / 2 - 10px)
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #main_content .box_img_container{
    flex-wrap: wrap;
  }

  #main_content .box_img_top,
  #main_content .box_img_round{
    width: calc(100% / 4 - 10px)
}
/* /central content */
/* /main */

/* footer */
footer{
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: cyan;
}
/* /footer */
